{% extends "main/base.html" %}
{% load static %}






{% block body %}

<div class="card-block bg-white">
    <div class="text-center">
        <h3>The Codebase</h3>
        <p>
            <a href="https://github.com/elmeriniemela/thecodebase" class="badge badge-light ">Github Repository</a>
        </p>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-12 mt-4">
            <img src="{% static 'main/images/thinkpad_laptop.jpg' %}" class="img-fluid float-center" alt="Responsive image"/>
        </div>
        <div class="col-lg-6 col-md-12 mt-4">
            <div class="border">
            <h4 class="text-center mt-4">Flask Version</h4>
            <p class="m-4">
                First version of this website was built using Python's
                <a href="http://flask.pocoo.org/">Flask library</a>
                and styled
                <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/">Bootstrap v4.1.3.</a>
                I deployed it on the laptop
                <a href="https://www.lenovo.com/fi/fi/laptops/thinkpad/t-series/ThinkPad-T480/p/22TP2TT4800">(Lenovo ThinkPad T480)</a>
                    shown in the pictures. Deploying the server cost me only the domain name ($1.46).
                    I deployed it using the following instructions:
                <ul class="text-left m-2">
                    <li>
                        <a href="https://www.digitalocean.com/community/tutorials/how-to-deploy-a-flask-application-on-an-ubuntu-vps">
                            How To Deploy a Flask Application on an Ubuntu VPS
                        </a>
                    </li>
                    <li>
                        <a href="https://blog.mindorks.com/how-to-convert-your-laptop-desktop-into-a-server-and-host-internet-accessible-website-on-it-part-1-545940164ab9">
                            How to convert your laptop/desktop into a server and host internet accessible website on it
                        </a>
                    </li>
                    <li>
                        <a href="https://letsencrypt.org/getting-started/">
                            Enabling HTTPS with Let's Encrypt
                        </a>
                    </li>
                    <li>
                        <a href="https://pythonprogramming.net/practical-flask-introduction/">
                            Introduction to Practical Flask
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/elmeriniemela/apache2-conf">
                            Configuring Apache2 to force WWW on HTTP host
                        </a>
                    </li>
                    <li>
                        <a href="https://www.hostinger.com/">
                            Cheap domain from Hostinger
                        </a>
                    </li>
                </ul>
            </p>
        </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-12 mt-4">
            <img src="{% static 'main/images/asus_laptop.jpg' %}" class="img-fluid float-center" alt="Responsive image"/>
        </div>
        <div class="col-lg-6 col-md-12 mt-4">
            <div class="border">
            <h4 class="text-center mt-4">Django Version</h4>
            <p class="m-4">
                Since I needed admin pages and better backend management for Github integration,
                I decided to switch from more minimal library Flask to Django framework that has an ORM built in and decent admin interface.
            </p>
            <p class="m-4">
                The ThinkPad-T480 laptop with 8 CPU cores and 16GB of RAM was a overkill for my website.
                Thats why I changed to an old unused ASUS laptop and took the ThinkPad-T480 for personal use.
                Changing hardware was not a problem since I had already automated the django deployment with
                <a href="https://www.ansible.com/">Ansible</a>
            </p>
            <ul class="text-left m-2">
                <li>
                    <a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-django-with-postgres-nginx-and-gunicorn-on-ubuntu-18-04">
                        How To Set Up Django with Postgres, Nginx, and Gunicorn on Ubuntu 18.04
                    </a>
                </li>
                <li>
                    <a href="https://github.com/elmeriniemela/ansible-django">
                        My Ansible role to deploy the Django implementation of this site.
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
{% endblock %}