{% extends "main/base.html" %}
{% load static %}

{% block body %}
<div class="row">
    {% for game in games %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card topic-card" onclick="location.href = '{% url 'games/play-game' game_name=game.url %}';">
            <img class="img-fluid align-self-center m-4"
                src="{% static game.image_url %}" alt="Invalid image_url"
                style="max-width: 14rem; max-height: 8rem; overflow:hidden">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ game.title }}</h5>
                <p class="card-text">{{ game.description }}</p>
                <a href="{% url 'games/play-game' game_name=game.url %}" class="btn btn-secondary card-btn">View</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}